{% extends "taxes_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Paskyros informacija</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Atnaujinti</button>
          </div>
      </form>
    </div>
    <div>
      <article class="media content-section">
        <div class="media-body">
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Veiklų informacija</legend>
            <div class="border-bottom mb-4">Mano Pajamos: 
              <div class ="calc_results_red">{{ pajamos | floatformat:2}} Eur</div>
            </div>
            <div class="border-bottom mb-4">Mano Išlaidos: 
              <div class ="calc_results_red">{{ islaidos | floatformat:2}} Eur</div>
            </div>
            <div class="border-bottom mb-4">Mano Mokeščiai: 
              <div class ="calc_results_red">{{ mokesciai | floatformat:2}} Eur</div>
            </div>
            <div class="border-bottom mb-4">Mano Pelnas!: 
              <div class ="calc_results_red">{{ pelnas | floatformat:2}} Eur</div>
            </div>
        </fieldset>
        </div>
      </article>
    </div>
{% endblock content %}
