{% extends "taxes_app/base.html" %}
{% block content %}
<h1>Apie Skaičiuoklę</h1>
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h4>GPM - 5%</h4>
        <h4>Sodros mokeščiai skaičiuojami nuo 63% įvestų pajamų</h4>
        <h4>VSD - 12.52%</h4>
        <h4>Pensija - 0% , 2,4% , 3%</h4>
        <h4>PSD - 6.98%</h4>
        <h4>Esate draustas privalomuoju sveikatos draudimu</h4>
        <h4>Galimybė pasinaudoti sordos mokeščių lengvata</h4>
        <h4></h4>
      </div>
    </div>
  </article>
{% endblock content %}
